.dormitory-container {
  width: calc(100vh * (460 / 844));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -60px;
}

.dormitory-text {
  width: auto;
  margin-bottom: 10%;
  height: 10%;
  padding-bottom: 5%;
  padding-top: 23%;
  color: var(--darkest);
  font-size: 32px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.dormitory-subtext {
  width: 50%;
  height: 5%;
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 8px;
}

.dormitory-filebox {
  width: 272px;
  height: 159px;
}

.dormitory-pic {
  margin-top: 26%;
  width: 272px;
  height: 159px;
  cursor: pointer;
}
.dormitory-pic:hover {
  cursor: pointer;
}

.dormitory-fileinput {
  width: 50%;
  height: 159px;
}

.brand-logo {
  width: 30%;
  height: 27%;
  padding-top: 160px;
}
