.login-container {
  width: calc(100vh * (460 / 844));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -60px;
}

.login-text {
  position: relative;
  display: flexbox;
  width: auto;
  height: 10%;
  padding-top: 26%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  color: var(--darkest);
  font-size: 52px;
  font-weight: 500;
  margin: 0 auto;
}

.login-subtext {
  width: auto;
  height: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  color: rgba(154, 154, 154, 1);
}

.login-logo {
  margin-top: 18%;
}
.login-logo:hover {
  cursor: pointer;
}

.brand-logo {
  width: 30%;
  height: 27%;
  padding-top: 160px;
}
