:root{
  --darkest: #134611;
  --darker: #3E8914;
  --mid: #3DA35D;
  --brighter:#96E072;
  --brightest:#E8FCCF;
  /* font-family: "Pretendard-Medium", Helvetica; */
  --font-family-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family-sans);

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container{
  margin: 0;
  padding: 0;
  height: auto;
  align-items: center; 
}